.film-list-title {
  text-align: left;
  word-wrap: normal;
}

.film-list-title a {
  text-decoration: none;
}

.film-thumbnail-background {
  height: 250px;
  background-size: cover;
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  word-wrap: break-word;
}

.film-listing-text {
  width: 50%;
}

.show-more-button {
  display: block;
  margin: 12px auto;
  height: 38px;
  padding: 0 15px;
  border-style: solid;
  border-width: 1px;
  opacity: 1;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 35px;
  white-space: nowrap;
  border-radius: 3px;
  transition: all 0.5s ease;
  background-color: #fff;
  border-color: #111;
  color: #000;
}

.show-more-button:hover {
  background-color: #111;
  color: #eee;
}

@media (max-width: 1024px) {
  .film-thumbnail-background {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .film-listing-text {
    width: 55%;
    margin-left: 12px;
    padding-top: 6px;
  }
}
