.film-list-title {
  text-align: left;
  word-wrap: normal;
}

.film-list-title a {
  text-decoration: none;
}

.film-thumbnail-background {
  height: 250px;
  background-size: cover;
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
  word-wrap: break-word;
}

.film-listing-text {
  width: 50%;
}

@media (max-width: 500px) {
  .film-thumbnail-background {
    width: 100%;
  }
  .film-listing-text {
    width: 55%;
    margin-left: 12px;
    padding-top: 6px;
  }
}
