.film-content {
  position: relative;
  width: 60vw;
  margin: 0 auto;
  word-wrap: break-word;
}

@media only screen and (max-width: 760px) {
  .film-content {
    width: 85vw;
  }
}

/* Every film, on every page, gets this style on its <article> tag */
.film {
  position: relative;
  width: 100%;
  margin: 0;
  word-wrap: break-word;
}

.film p {
  margin-bottom: 12px;
}
.film h2 {
  margin-bottom: 12px;
  margin-top: 0;
}

.film .post-header {
  margin-bottom: 18px;
}

.film-title {
  color: #fff;
  margin-bottom: 6px;
  padding-top: 6px;
  font-size: 42px;
}

.film-title a {
  text-decoration: none;
}

/* Possibly not the right home for this, make sure to move sized versions as well */
h1:not(.film-template) .film-title {
  font-size: 3.6rem;
}

div.page-template .film-title {
  font-size: 24px;
}

.film-template .film-title,
.page-template .film-title {
  margin-bottom: 0;
}

.film-excerpt p {
  margin: 0;
  font-size: 0.9em;
  line-height: 1.7em;
}

.read-more {
  text-decoration: none;
}

.film-meta {
  display: block;
  margin: 6px 0 12px 0;
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;
  line-height: 2.2rem;
  color: #9eabb3;
  text-align: center;
}

.film-meta a {
  color: #9eabb3;
  text-decoration: none;
}

.film-meta a:hover {
  color: #9eabb3;
  text-decoration: underline;
}

.film-template .film-meta,
.page-template .film-meta {
  margin: 0;
}

.film-template .film-date,
.page-template .film-date {
  padding: 0;
  margin: 0;
  border: none;
}

/* Tweak the .film wrapper style */
.film-template .film,
.page-template .film {
  margin-top: 0;
  border-bottom: none;
  padding-bottom: 0;
}

/* Kill that stylish little circle that was on the border, too */
.film-template .film::after,
.page-template .film::after {
  display: none;
}

/* ==========================================================================
       Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {
  .film {
    font-size: 0.95em;
  }

  h1:not(.film-template) .film-title {
    font-size: 3.2rem;
  }

  div.page-template .film-title {
    font-size: 4.5rem;
  }
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
  .film {
    width: auto;
    padding-bottom: 2rem;
    line-height: 1.65em;
  }

  h1:not(.film-template) .film-title {
    font-size: 2.5rem;
  }

  div.page-template .film-title {
    font-size: 2.8rem;
  }

  .film-template .film-date,
  .page-template .film-date {
    display: inline-block;
  }

  .film-excerpt p {
    font-size: 0.85em;
  }

  .film-meta {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
}
