.film-iframe {
    width: 900px;
    height: 506px;
}

.film-content {
    position: relative;
    width: 80%; 
    max-width: 900px;
    margin: 4rem auto;
    padding-bottom: 4rem;
    border-bottom: #ebf2f6 1px solid;
    word-wrap: break-word;
}

/* Every film, on every page, gets this style on its <article> tag */
.film {
    position: relative;
    width: 100%; 
    margin: 0;
    max-height: 100vh;
    padding-bottom: 4rem;
    word-wrap: break-word;
}

/* Add a little circle in the middle of the border-bottom on our .film
   just for the lolz and stylepoints. */
.film::after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #e7eef2 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #fff;
    border-radius: 100%;
    box-shadow: #fff 0 0 0 5px;
}

.film-title {
    color: rgb(219, 219, 219);
    margin-bottom: 0.2em;
}

.film-title a {
    text-decoration: none;
}

/* Possibly not the right home for this, make sure to move sized versions as well */
h1:not(.film-template) .film-title {
    font-size: 3.6rem;
}

div.page-template .film-title {
    font-size: 5rem;
}

.film-template .film-title,
.page-template .film-title {
    margin-bottom: 0;
}

.film-excerpt p {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.7em;
}

.read-more {
    text-decoration: none;
}

.film-meta {
    display: block;
    margin: 1rem 0 2rem 0;
    font-family: "Playfair Display", serif;
    font-size: 1.3rem;
    line-height: 2.2rem;
    color: #9eabb3;
}

.film-meta a {
    color: #9eabb3;
    text-decoration: none;
}

.film-meta a:hover {
    color: #9eabb3;
    text-decoration: underline;
}

.film-template .film-meta,
.page-template .film-meta {
    margin: 0;
}

.film-template .film-date,
.page-template .film-date {
    padding: 0;
    margin: 0;
    border: none;
}

/* Tweak the .film wrapper style */
.film-template .film,
.page-template .film {
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
}

/* Kill that stylish little circle that was on the border, too */
.film-template .film::after,
.page-template .film::after {
    display: none;
}

/* ==========================================================================
       Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {
    .film {
        font-size: 0.95em;
    }

    h1:not(.film-template) .film-title {
        font-size: 3.2rem;
    }

    div.page-template .film-title {
        font-size: 4.5rem;
    }
    .film-iframe {
        width: 100%;
        height: calc(calc(100%) * 0.5625)
        /* height: 506px; */
    }
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .film {
        width: auto;
        padding-bottom: 2rem;
        line-height: 1.65em;
    }

    h1:not(.film-template) .film-title {
        font-size: 2.5rem;
    }

    div.page-template .film-title {
        font-size: 2.8rem;
    }

    .film-template .film-date,
    .page-template .film-date {
        display: inline-block;
    }

    .film-excerpt p {
        font-size: 0.85em;
    }

    .film-meta {
        font-size: 1.3rem;
        margin-top: 1rem;
    }
}
