.post-template .post-header,
.page-template .post-header {
    margin-bottom: 3.4rem;
    text-align: center;
}

.post-opener {
  background-size: 100% 85%;
  width: 100%;
  background-repeat: no-repeat;
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .post-template .post-header,
    .page-template .post-header {
        margin-bottom: 2rem;
    }
}
