.post-template .post-header,
.page-template .post-header {
  margin-bottom: 3.4rem;
  text-align: center;
}

.post-opener {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
  .post-template .post-header,
  .page-template .post-header {
    margin-bottom: 2rem;
  }
}
