.cast-tile-role {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.5px;
}

.cast-tile {
  width: 216px;
  height: 270px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  /* cursor: pointer; */
}

.cast-tile-hover {
  filter: grayscale(80%);
  transition: filter 1s;
}

.cast-tile-hover:hover {
  filter: grayscale(0%);
}

/* .cast-tile-hover:hover .cast-tile-name,
.cast-tile-hover:hover .cast-tile-role {
  color: #999;
} */
