.cast-tile-name,
.cast-tile-role {
  display: block;
  margin: auto;
  text-align: center;
  color: #fff;
}

.cast-tile-name {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 20px;
}
.cast-tile-role {
  font-family: pb-bold, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.5px;
}

.cast-tile {
  width: 216px;
  height: 270px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  filter: grayscale(80%);
  cursor: pointer;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  transition: filter 1s;
}

.cast-tile:hover {
  filter: grayscale(0%);
}
/* .cast-tile:hover .cast-tile-name {
  color: white;
  filter: brightness(10);
} */

.cast-member-label {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* .background-img {
  width: 100%;
  min-height: 100%;
} */
