.opening_img {
  min-width: 28rem;
  max-width: 100vw;
  margin: 0 auto;
}

.bottom_text {
  font-size: 16px;
  line-height: 1.7em;
  color: rgba(0,0,0,0.5);
  font-family: pb-regular;
}
.top_text {
  font-size: 90px;
  margin-bottom: 0;
  color: black;
}

.film_for_all {
  max-width: 1300px;
  display: flex;
  margin: auto;
  flex-wrap: wrap-reverse;
  box-sizing: border-box;
  justify-content: center;
  margin-bottom: 3rem;
}

.right_text {
  max-width: 600px;
  margin: 0 auto;
}

.top_text {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

@media screen and (min-width: 1300px) {
  .middle_text {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 510px) {
  .top_text {
    font-size: 60px;
  }
}

@media screen and (max-width: 720px) {
  .right_text {
    max-width: 90vw;
    margin: auto;
  }
  .bottom_text {
    font-size: 15px;
  }
  .opening_img {
    min-width: 1rem;
    max-width: 100%;
    margin: 0 auto;
  }
  .film_for_all {
    max-width: 100%;
  }
  .BelowTheFold {
    margin: 10px 0;
  }
 }
