.hero-container {
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap-reverse;
  box-sizing: border-box;
  justify-content: center;
  margin: 18px auto;
}

.hero-img,
.hero-text-wrapper {
  width: 600px;
  margin: 0 18px;
}

.hero-text-wrapper {
  max-width: 90%;
  text-align: left;
}

.hero-statement {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 90px;
  margin-bottom: 0;
  color: black;
  text-align: left;
}

.intro-subheading {
  padding: 30px 0;
  text-align: left;
}

.hero-description {
  font-size: 16px;
  line-height: 1.7em;
  color: rgba(0, 0, 0, 0.5);
  font-family: pb-regular;
}

@media (max-width: 1272px) {
  .intro-subheading {
    padding: 6px 0;
  }

  .hero-text-wrapper h1,
  .hero-text-wrapper h5 {
    text-align: center;
  }
}

@media (max-width: 720px) {
  .bottom_text {
    font-size: 15px;
  }
  .hero-img {
    width: 100%;
  }
}

@media (max-width: 510px) {
  .hero-statement {
    font-size: 54px;
  }
}
