.icon {
  width: 1em;
}

.what_we_do {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  max-width: 1150px;
  box-sizing: border-box;
}

.activity_block {
  max-width: 250px;
  margin: 10px auto;
  justify-content: center;
  text-align: center;
  border: 2px solid #adadad;
  padding: 20px;
}

.home-header {
  margin: 0 auto;
  font-size: 44px;
  color: black;
}

@media (max-width: 1280px) {
  .what_we_do {
    max-width: 900px !important;
  }
}

@media (max-width: 1000px) {
  .what_we_do {
    max-width: 90vw !important;
  }
}
