/* .proportional-video-container {
    position: relative;
    margin-bottom: 56.25%;
    padding-bottom: 56.25%;
    padding-top: 35px;
    overflow: hidden;
} */

:root {
  --iframe-width: 60vw;
}

.film-iframe {
  width: var(--iframe-width);
  height: calc(var(--iframe-width) * (9 / 16));
}

@media only screen and (max-width: 760px) {
  .film-iframe {
    width: 90vw;
    height: calc(90vw * (9 / 16));
  }
}
