/* .proportional-video-container {
    position: relative;
    margin-bottom: 56.25%;
    padding-bottom: 56.25%;
    padding-top: 35px;
    overflow: hidden;
} */

:root {
  --iframe-width: 60vw;
  --md-iframe-width: 85vw;
}

.film-iframe {
  width: var(--iframe-width);
  height: calc(var(--iframe-width) * (9 / 16));
}

@media only screen and (max-width: 760px) {
  .film-iframe {
    width: var(--md-iframe-width);
    height: calc(var(--md-iframe-width) * (9 / 16));
  }
}
