.sponsor-img {
  width: 500px;
  max-width: 90vw;
  height: 140px;
  margin: 0 auto 18px auto;
  display: block;
  object-fit: contain;
}

.home-sponsor-text {
  margin: 0 auto;
  max-width: 90vw;
}

.home-sponsor-text {
  text-align: center;
}

.sponsor-desc {
  margin: 0;
}
